html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 1rem;
    background-image: url('img/dark-plaster-pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: #fff;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 65%;
    margin-bottom: 3vh;
}

.desc {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin: 3vh 0;
}

.subscribe-form {
    width: 100%;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.subscribe-form h3 {
    margin: 3vh 0 1rem;
}

.formkit-fields {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.formkit-field {
    flex-grow: 1;
}

.formkit-input {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 0;
}

.formkit-submit {
    padding: 1rem;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    background-color: #1ebe63;
}

.formkit-alert-error {
    display: none;
}

.formkit-alert {
    background: rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
